// sizes
// (be sure to copy any changes to App.jsx#computeComponentDimensions)
$container-padding: 20px;
$header-height: 80px;
$bottom-row-height-short: 230px;
$bottom-row-height-tall: 310px;

// breakpoints
$breakpoint-width-narrow: 750px;
$breakpoint-width-wide: 1280px;

// colors
$background-color: rgb(243, 230, 209);
$text-color: #498389;
