.panorama.offset-area-chart {
  position: relative;


  // TEMP FOR TESTING
  width: 500px;
  height: 200px;
  display: inline-block;
  //
  

  .area-chart {
    position: absolute;

    path.area {
      opacity: 0.7;
    }
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
}
