.time-based-label {
  font-weight: bold;
}

.time-based-label.with-outlines {
  stroke: white;
  paint-order: stroke;
  stroke-width: 2px;
  font-size: 0.5em;
}

.time-based-icon {

}

.time-based-line {
  stroke-width: 1;
  stroke: black !important;
  fill: none !important;
}

.place {
  fill: black;

  // TEMP FOR @almccon:
  // the 'type' property in timeBasedMarkers.json is a space-delimited list of classes
  // that can be styled here. see Terre Haute as an example.
  &.secondary {
  	fill: red;
  }
}
