.time-based-markers-layer {}

.time-based-label {
  font-weight: bold;
}

.time-based-label.with-outlines {
  stroke: white;
  paint-order: stroke;
  stroke-width: 2px;
  font-size: 0.5em;
}

.time-based-icon {

}

.time-based-line {
  stroke-width: 1;
  stroke: black !important;
  fill: none !important;
}

.place {
  fill: black;

  &.secondary {
  	fill: red;
  }
}
