.panorama.punchcard {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;

	.header {

	}

	.content {
		
	}

	text {
		// dominant-baseline: central;
	}

	.category {
		margin-bottom: 20px;

		h4 {
			width: 45%;
			display: inline-block;

			vertical-align: top;
			margin-bottom: 0;
			margin-right: 5%;

			font-size: 1em;
		}
		
		svg {
			width: 50%;
			display: inline-block;
		}
	}
}